NODE_ENV=local
PORT=3000
SERVER_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=app
DB_PASSWORD=app
DB_DATABASE=app
DB_LOGGING=false
DB_MIGRATIONS_RUN=false

JWT_SECRET=replace-me
JWT_EXPIRES_IN=1d

SWAGGER_AUTH_ID=admin
SWAGGER_AUTH_PW=admin
SWAGGER_PATH=/docs

SENTRY_DSN=
